.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #2c5364);
  color: white;
  text-align: center;
}

.home h1 {
  font-size: 40px;
  color: #00c853;
}

.home p {
  margin: 20px 0;
  font-size: 18px;
}

.home button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #00c853;
  color: white;
  cursor: pointer;
}

.home button:hover {
  background: #009624;
}